<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de marcas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="marcasForm">
    <ion-item>
      <ion-label position="floating">Nome: </ion-label>
      <ion-input formControlName="nome" type="text">
      </ion-input>
      <ion-text color="danger" *ngIf="nome.errors">
        <small *ngIf="nome.errors.required && (nome.dirty || nome.touched)">
          O campo nome é obrigatório
        </small>
        <small *ngIf="nome.errors.minlength && (nome.dirty || nome.touched)">
          O campo nome deve conter no mínimo {{nome.errors.minlength.requiredLength}} caracteres
        </small>
        <small *ngIf="nome.errors.maxlength && (nome.dirty || nome.touched)">
          O campo nome deve conter no máximo {{nome.errors.maxlength.requiredLength}} caracteres
        </small>
      </ion-text>
    </ion-item>
    <ion-item button (click)="escolherPais()">
        <ion-label>País</ion-label>
        <ion-label class="ion-text-end" slot="end">
          <ion-icon slot="end" name="icon" src="assets/icon/flags/{{paisSelecionado.sigla}}.svg"></ion-icon>
          &nbsp;
          {{paisSelecionado.nome}}
        </ion-label>
        <ion-input formControlName="pais" type="text" hidden [value]="paisSelecionado.sigla"></ion-input>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="salvar()" [disabled]="!marcasForm.valid">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>