.negrito{
  font-weight: bold;
}

.italico{
  font-style: italic;
}

.sublinhado{
  text-decoration: underline;
}

.maiúsculo{
  text-transform: uppercase;
}

.minúsculo{
  text-transform: lowercase;
}
